<!DOCTYPE html>
<html>
<head>
	<title>{{title}}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<script src='{{base}}/public/js/jquery-1.7.2.min.js'></script>
	<script src='{{base}}/public/js/jquery.watermark.min.js'></script>
	{% if has_charts %}
		<script type="text/javascript" src="https://www.google.com/jsapi"></script>
		<script>
		google.load("visualization", "1", {packages:["corechart","geochart","annotatedtimeline"]});
		</script>
	{% endif %}
	{% if not vertical %}
		<script type='text/javascript' src='{{base}}/public/js/jquery.dataTables.min.js'></script>
		<link rel='stylesheet' href='{{base}}/public/css/jquery.dataTables.css' />
	{% endif %}
	<style>
	* {
		font-family: arial, san serif;
	}
	.error {
		color: red;
		padding: 20px;
		border: 1px solid red;
		background-color: #fdd;
		border-radius: 6px;
	}
	.notice {
		color: #34e;
		padding: 20px;
		border: 1px solid #34e;
		background-color: #ffd;
		border-radius: 6px;
	}
	.waiting {
		color: #34e;
		padding: 20px 20px;
		border: 1px solid #34e;
		border-radius: 6px;
		background: #ffd;
		margin: 10px 0;
		text-align:center;
		line-height: 22px;
	}
	.waiting div {
		padding-bottom: 25px;
		background: url("{{base}}/public/images/ajax-loader.gif") no-repeat bottom center;
	}
	pre {
		white-space: pre-wrap;			/* css-3 */
		white-space: -moz-pre-wrap;		/* Mozilla, since 1999 */
		white-space: -pre-wrap;			/* Opera 4-6 */
		white-space: -o-pre-wrap;		/* Opera 7 */
		word-wrap: break-word;			/* Internet Explorer 5.5+ */
	}
	</style>
</head>
<body>
{% if not is_home and report_list_url %}
	<div id='links_holder'>
		<a href='{{report_list_url}}'>Reports Home</a>
	</div>
{% endif %}

{% if header %}
	<div>
		{{header|raw}}
	</div>
{% endif %}

{% if error %}
	<div class='error'>
		{{error}}
	</div>
{% endif %}

{% if notice %}
	<div class='notice'>
		{{notice}}
	</div>
{% endif %}

<div id='content'>
	{{content|raw}}
</div>

</body>
</html>
