<style>
body {
	padding-bottom: 200px;
}
.database_message {
	color: #999;
}
h1 {
	margin: 10px 0;
	padding: 0;
}
.csv_link {
	font-size: .9em;
	margin-left: 20px;
}

#variable_form {
	border: 1px solid #aaa;
	border-radius: 5px;
	padding: 10px;
	margin: 10px 0;
	font-family: arial;
}
#variable_form .input-row {
	margin: 5px 0;
}
#variable_form h2 {
	font-size: 1.3em;
	padding: 0 0 15px 0;
	margin: 0;
}
#variable_form .input, #variable_form select {
	padding: 3px 6px;
	border-radius: 5px;
	border: 1px solid #aaa;
}
#variable_form .submit {
	padding: 5px 10px;
	border-radius: 8px;
	border: 1px solid #aaa;
	margin-top: 10px;
}
#report_content {
	margin: 8px 0;
}
</style>

<h1>{{Name}}</h1>

{% if description %}
	<div id='report_description'>{{Description|raw}}</div>
{% endif %}

{{variable_form|raw}}

<em class='database_message'>Running on database
<select id='database_select'>
{% for option in Databases %}
	<option value='{{option.name}}' {% if option.selected %}selected="selected"{% endif %}>{{option.name}}</option>
{% endfor %}
</select>
</em>

<a href='{{base}}/report/csv/?{{report_querystring}}' class='csv_link'>export to csv</a>

<div id='report_content'>
{% if not is_ready %}
	<div class='notice'>
	This report needs more information before running.
	</div>
{% elseif async %}
	<div class='waiting' id='async_notice'>
		<div>
			Your report is running.
			{% if time_estimate %}
				{% if time_estimate.median %}
					This report usually takes {{time_estimate.median}} seconds.
				{% endif %}
			{% endif %}
		</div>
	</div>
	<script>
	$.ajax({
		'url': '{{report_url|raw}}',
		'dataType': 'html',
		'data': {'content_only': true},
		'success': function(data) {
			$('#report_content').html(data);
		}
	});
	</script>
{% else %}
	{{content|raw}}
{% endif %}
</div>

<script>
$('#database_select').change(function() {
	var url = window.location.href.split('?')[0];
	var querystring = window.location.href.split('?')[1].split('#')[0];
	
	querystring = querystring.replace(/&?database=[^&]*/,'');
	querystring += '&database='+$(this).val();
	
	window.location.href = url+'?'+querystring;
	return false;
});
</script>

{% if time_estimate %}
	<div style='margin-top: 20px;'>
		<a href='#' id='show_time_estimate'>show time estimate data</a>
		<div style='font-size: .8em; display:none;' id='time_estimate_holder'>
			<div><strong>Number of Samples: </strong> {{time_estimate.count}}</div>
			<div><strong>Minimum Time: </strong> {{time_estimate.min}}</div>
			<div><strong>Maximum Time: </strong> {{time_estimate.max}}</div>
			<div><strong>Median: </strong> {{time_estimate.median}}</div>
			<div><strong>Average: </strong> {{time_estimate.average}}</div>
			<div><strong>Standard Deviation: </strong> {{time_estimate.stdev}}</div>	
		</div>
	</div>
	<script>
	$('#show_time_estimate').click(function() {
		$('#time_estimate_holder').toggle(200);
		return false;
	});
	</script>
{% endif %}
