<style>
#table_of_contents {
	padding-bottom: 5px;
	border-bottom: 1px solid #ccc;
}
#table_of_contents h3 {
	margin: 0 0 5px 0;
	padding: 0;
}
#table_of_contents > .report_list {
	padding: 10px 0;
}
#table_of_contents .count {
	font-size: .8em;
	padding-left: 10px;
}
#table_of_contents .directory {
	padding-left: 20px;
	margin: 5px 0;
}
#table_of_contents .directory .directory {
	background: url("{{base}}/public/images/list_image.png") no-repeat top left;
}
#report_list h1 {
	
}
#report_list h2 {
	font-size: 1.3em;
	padding: 5px 20px 5px 0;
	margin: 0;
	display: inline-block;
	cursor: pointer;
	background: transparent url("{{base}}/public/images/toggle.png") no-repeat center right;
	float:left;
}
#report_list .report_list .report_list h2 {
	color: #444;
	font-size: 1.2em;
}
#report_list .report_list .report_list .report_list h2 {
	color: #555;
	font-size: 1.1em;
}
#report_list h2.no_title {
	font-size: 1em;
	font-weight:normal;
}
#report_list .report_list {
	margin-left: 20px;
	border: 1px dotted #aaa;
	border-width: 0 0 0 1px;
	padding: 7px;
	font-size: 95%;
	clear:left;
}
#report_list > .report_list {
	border:0;
	margin-left: 5px;
}
#report_list .report_list h2 {
	display: block;
	margin: 0;
}
#report_list h2.collapsed~.report_list {
	display:none;
}
#report_list h2.expanded {
}
#report_list h2.collapsed {
	background-image: url("{{base}}/public/images/toggle-expand.png");
}

#report_list .back_to_top {
	margin-left: 20px;
	font-size: .8em;
}

#report_list .report {
	padding: 8px 0;
}
#report_list .report.selected {
	background-color: #FCFFBD;
	padding-left: 8px;
	border: 2px solid #F2FF00;
	border-radius: 3px;
}
#report_list .report img {
	vertical-align: middle;
}
#report_list .collapse {
	text-decoration:none;
	vertical-align:middle;
	color: #7777ff;
	padding: 0 3px;
}
#hide_table_of_contents {
	font-size: .7em;
	vertical-align:middle;
	margin-left: 10px;
	font-weight:normal;
}
#search {
	border: 1px solid #aaa;
	border-radius: 5px;
	padding: 2px 8px;
}
#searchbar {
	margin: 0 0 10px 0;
}
#searchbar.fixed {
	background: white;
    position:fixed;
    top:0;
    width:100%;
    z-index:100;
	border-bottom: 1px solid #aaa;
	padding: 5px 10px;
	margin: 0 -10px;
	-moz-box-shadow:    0 3px 6px 2px rgba(68,68,68,0.6);
	-webkit-box-shadow: 0 3px 6px 3px rgba(68,68,68,0.6);
	box-shadow:         0 3px 6px 2px rgba(68,68,68,0.6);
	opacity: .8;
}
#searchbar.fixed:hover {
	opacity: 1;
}
#searchbar a {
	display:none;
}
#searchbar.fixed a {
	display:inline-block;
	margin-left: 20px;
}
</style>
<script>
$(document).ready(function() {
	function showReportList(h2,delay) {
		//show all child reports
		$('.report',h2.next('.report_list')).show();
		
		h2.removeClass('collapsed').addClass('expanded');
		h2.parent('.report_list').show();
		h2.parent('h2').removeClass('collapsed').addClass('expanded');
	}
	function hideReportList(h2,delay) {
		h2.removeClass('expanded').addClass('collapsed');
	}
	function toggleReportList(h2,delay) {
		if(h2.hasClass('expanded')) hideReportList(h2,delay);
		else showReportList(h2,delay);
	}
	
	//toggle links
	$('#report_list').on('click','h2',function() {
		toggleReportList($(this),200);
		
		return false;
	});
	$('#hide_table_of_contents').on('click',function() {
		$('#table_of_contents > .report_list').toggle(200);
		return false;
	});
	
	//when a link is clicked in table of contents, make sure the section is visible
	$('#table_of_contents').on('click','a',function() {
		var target = $($(this).attr('href'));
		showReportList(target);
	});
	
	//generate report list
	{% macro jsonreportdir(item) %}
		{% if item.is_dir %}
			{
				name: "{{ item.Title|trim }}",
				id: "{{ item.Id }}",
				report: false
			},
			{% for item in item.children %}
				{{ _self.jsonreportdir(item) }}
			{% endfor %}
		{% elseif not item.is_dir %}
			{
				name: "{{ item.Name|trim }}",
				id: "{{ item.Id }}",
				report: true
			},
		{% endif %}
	{% endmacro %}
	var reports = [
		{% for item in reports %}
		{{ _self.jsonreportdir(item) }}
		{% endfor %}
		null
	];
	reports.pop();
	
	//report search
	$('#search').keyup(function(e) {
		var val = $(this).val();
		
		//if empty, show all reports
		if(!val) {
			$("#report_list > .report_list").show();
			$("#report_list h2.title").removeClass('collapsed').addClass('expanded');
			$("#report_list h2.no_title").removeClass('expanded').addClass('collapsed');
			$("#report_list .report").show().removeClass('selected');
		
			refresh_report_list();
		
			return;
		}
		
		var re = new RegExp(val, "i");
		
		//get matching reports
		var matching = $.grep(reports,function(el) {
			return re.test(el.name);
		});
		
		//hide all reports
		$("#report_list > .report_list").hide();
		$("#report_list .report").hide().removeClass('selected');
		$("#report_list h2").removeClass('expanded').addClass('collapsed');
		
		//loop through all matches
		for(var i in matching) {
			//if a directory matches, show it and all the child reports
			if(!matching[i].report) {
				showReportList($('#report_'+matching[i].id));
			}
			//if a single report matches, show it and highlight it
			else {
				$('#report_'+matching[i].id).parent().addClass('selected').show().parents('.report_list').last().show();
				$('#report_'+matching[i].id).parents('.report_list').prev('h2').addClass('expanded').removeClass('collapsed');
			}
		}
		
		//make sure we aren't scrolled above the report list
		if($(window).scrollTop() < ($('#report_list').offset().top - 50)) {
			$(window).scrollTop($('#report_list').offset().top - 50);
		}
		
		refresh_report_list();
	});
	
	//there is a bug with webkit where the page isn't redrawn
	//when changing the innerhtml
	var refresh_report_list = function() {
		var height = $('#report_list').height();
		$('#report_list').height(height+1).height(height);
	};
	
	//make the search bar fixed when scolling down through reports
	var original_search_offset = $('#searchbar').next().offset().top;
	var search_bar_fixed = false;
	$(window).scroll(function(e){
		var $el = $('#searchbar');
		
		if(!search_bar_fixed) {
			original_search_offset = $el.next().offset().top - 55;
		}
		
		if ($(this).scrollTop() >= original_search_offset){
			if(!search_bar_fixed) {
				$el.addClass('fixed');
				search_bar_fixed = true;
			}
		}
		else if(search_bar_fixed) {
			$el.removeClass('fixed');
			search_bar_fixed = false;
		}
	});

});
</script>
<a name='top'></a>
<div style='float:right; font-size: .8em;'>
	{{ links|raw }}
</div>
<h1>Report List</h1>
<div id='searchbar'>
	Search
	<input type='text' id='search'/>
	<a href='#reportlist'>Back to top</a>
</div>
<div id='table_of_contents'>
	<h3>Table of Contents <a href='#' id='hide_table_of_contents'>show / hide</a></h3>
	<div class='report_list'>
	{% for item in reports %}
		{% include "html/report_list_table_of_contents_item.twig" %}
	{% endfor %}
	</div>
</div>

<div id='report_list'>
	<a name='reportlist'></a>
	<h3>All Reports</h3>
	{% for item in reports %}
	<div class='report_list {% if item.Title %}default-show{% else %}default-hide{% endif %}'>
		{% include "html/report_list_item.twig" %}
	</div>
	{% endfor %}
</div>
