<style>
#table_of_contents {
	padding-bottom: 5px;
	border-bottom: 1px solid #ccc;
}
#table_of_contents h3 {
	margin: 0 0 5px 0;
	padding: 0;
}
#table_of_contents > .report_list {
	padding: 10px 0;
}
#table_of_contents .count {
	font-size: .8em;
	padding-left: 10px;
}
#table_of_contents .directory {
	padding-left: 20px;
	margin: 5px 0;
}
#table_of_contents .directory .directory {
	background: url("{{base}}/public/images/list_image.png") no-repeat top left;
}
#report_list h1 {
	
}
#report_list h2 {
	font-size: 1.3em;
	padding: 5px 20px 5px 0;
	margin: 0;
	display: inline-block;
	cursor: pointer;
}
#report_list .report_list .report_list h2 {
	color: #444;
	font-size: 1.2em;
}
#report_list .report_list .report_list .report_list h2 {
	color: #555;
	font-size: 1.1em;
}
#report_list h2.no_title {
	font-size: 1em;
	font-weight:normal;
}
#report_list .report_list {
	margin-left: 20px;
	border: 1px dotted #aaa;
	border-width: 0 0 0 1px;
	padding: 7px;
	font-size: 95%;
}
#report_list > .report_list {
	border:0;
	margin-left: 5px;
}
#report_list .report_list .report_list.default-hide {
	display:none;
}
#report_list .report_list h2 {
	display: block;
	margin: 0;
}
#report_list .back_to_top {
	margin-left: 20px;
	font-size: .8em;
}

#report_list .report {
	padding: 8px 0;
}
#report_list .report.selected {
	background-color: #FCFFBD;
	padding-left: 8px;
	border: 2px solid #F2FF00;
	border-radius: 3px;
}
#report_list .collapse {
	text-decoration:none;
	vertical-align:middle;
	color: #7777ff;
	padding: 0 3px;
}
#hide_table_of_contents {
	font-size: .7em;
	vertical-align:middle;
	margin-left: 10px;
	font-weight:normal;
}
</style>
<script>
$(document).ready(function() {
	function showReportList(h2,delay) {
		var list = h2.next('.report_list');
		
		//expand report if needed
		if(list.css('display') == 'none') {
			list.show(delay || 0);
			h2.children('.collapse').html('-');
		}
		
		//show all child reports
		$('.report',list).show();
		
		h2.parents('.report_list').show();
	}
	function hideReportList(h2,delay) {
		var list = h2.next('.report_list');
		
		//hide report list
		if(list.css('display') == 'block') {
			list.hide(delay || 0);
			
			h2.children('.collapse').html('+');
		}
	}
	function toggleReportList(h2,delay) {
		var list = h2.next('.report_list');
		
		if(list.css('display') == 'block') {
			hideReportList(h2,delay);
		}
		else {
			showReportList(h2,delay);
		}
	}
	
	$('#report_list').on('click','h2',function() {
		toggleReportList($(this),200);
		
		return false;
	});
	$('#hide_table_of_contents').on('click',function() {
		$('#table_of_contents > .report_list').toggle(200);
		return false;
	});
	$('#table_of_contents').on('click','a',function() {
		var target = $($(this).attr('href'));
		showReportList(target);
	});
	
	{% macro jsonreportdir(item) %}
		{% if item.is_dir and item.Title %}
			{
				name: "{{ item.Title|trim }}",
				id: "{{ item.Id }}",
				report: false
			},
			{% for item in item.children %}
				{{ _self.jsonreportdir(item) }}
			{% endfor %}
		{% elseif not item.is_dir %}
			{
				name: "{{ item.Name|trim }}",
				id: "{{ item.Id }}",
				report: true
			},
		{% endif %}
	{% endmacro %}
	
	var reports = [
		{% for item in reports %}
		{{ _self.jsonreportdir(item) }}
		{% endfor %}
		null
	];
	reports.pop();
	
	$('#search').keyup(function(e) {
		var val = $(this).val();
		
		//if empty, show all reports
		if(!val) {
			$("#report_list > .report_list").show();
			$("#report_list .report_list .report_list.default-show").show();
			$("#report_list .report").show().removeClass('selected');
			return;
		}
		
		var re = new RegExp(val, "i");
		
		//get matching reports
		var matching = $.grep(reports,function(el) {
			return re.test(el.name);
		});
		
		//hide all reports
		$("#report_list .report_list").hide();
		$("#report_list .report").hide().removeClass('selected');
		
		//loop through all matches
		for(var i in matching) {
			//if a directory matches, show it and all the child reports
			if(!matching[i].report) {
				$('#report_'+matching[i].id).show().next('.report_list').show().children('.report').show();
			}
			//if a single report matches, show it and highlight it
			else {
				$('#report_'+matching[i].id).parent().addClass('selected').show();
			}
			
			//show all the parent directories
			$('#report_'+matching[i].id).parents('.report_list').show();
		}
	});
	
});
</script>
<a name='top'></a>
<div style='float:right; font-size: .8em;'>
	{{ links|raw }}
</div>
<h1>Report List</h1>
<div id='table_of_contents'>
	<h3>Table of Contents <a href='#' id='hide_table_of_contents'>show / hide</a></h3>
	<div class='report_list'>
	{% for item in reports %}
		{% include "html/report_list_table_of_contents_item.twig" %}
	{% endfor %}
	</div>
</div>

<div id='report_list'>
	<h3>All Reports</h3>
	<input type='text' id='search' title='search' class='jq_watermark'/>
	{% for item in reports %}
	<div class='report_list {% if item.Title %}default-show{% else %}default-hide{% endif %}'>
		{% include "html/report_list_item.twig" %}
	</div>
	{% endfor %}
</div>
