{% extends "html/chart_page.twig" %}

{% block content %}
	{% for chart in Charts %}
	<div id='chart_div_{{chart.num}}' style='{% if chart.width %}width:{{chart.width}};{% endif %}{% if chart.height %}height:{{chart.height}};{% endif %}'></div>
	{% endfor %}
	
	<script type="text/javascript">
	function drawCharts() {
		{% for chart in Charts %}
			var data_{{chart.num}} = new google.visualization.DataTable();
					
			{% for key,value in chart.datatypes %}
			data_{{chart.num}}.addColumn("{{value}}","{{chart.Rows[0].values[key].key}}");
			{% endfor %}
		
			var rows = [
				{% for row in chart.Rows %}[
					{% for value in row.values %}
						{%- if value.datatype == "date" or value.datatype == "datetime" -%}
						new Date("{{ value.getValue()|replace({'\\':'\\\\','"':'\\"' })|raw }}")
						{%- elseif value.datatype == "timeofday" -%}
						[{{ value.getValue()|slice(0,2) }}, {{ value.getValue()|slice(3,2) }}, {{ value.getValue()|slice(6,2) }}, 0]
						{%- elseif value.datatype == "null" -%}
						null
						{%- elseif value.datatype == "number" -%}
						{{ value.getValue() }}
						{%- else -%}
						"{{ value.getValue()|replace({'\\':'\\\\','"':'\\"' })|raw }}"
						{%- endif %}
						{%- if not loop.last %},{% endif -%}
					{% endfor %}
					
				]{% if not loop.last %},{% endif %}

				{% endfor %}];
		
			data_{{chart.num}}.addRows(rows);

			var options_{{chart.num}} = {
				title: '{{chart.title}}',
				displayMode: 'markers',
				colorAxis: {colors: ['blue', 'red']},
				sizeAxis: {minValue: 1,  maxSize:  10},
				displayAnnotations: true,
				colors: []
			};
			
			{% for color in chart.colors %}
				options_{{chart.num}}.colors.push('{{color}}');
			{% endfor %}


			if(!options_{{chart.num}}.colors.length) {
				delete options_{{chart.num}}.colors;
			}

			var chart_{{chart.num}} = new google.visualization.{{chart.type}}(document.getElementById('chart_div_{{chart.num}}'));
			chart_{{chart.num}}.draw(data_{{chart.num}}, options_{{chart.num}});
		{% endfor %}
	}
	google.setOnLoadCallback(drawCharts);
	</script>
{% endblock %}
