{% extends "html/chart_page.twig" %}

{% block content %}
	{% for chart in Charts %}
	<div id='chart_div_{{chart.num}}' style='{% if chart.width %}width:{{chart.width}};{% endif %}{% if chart.height %}height:{{chart.height}};{% endif %}'></div>
	{% endfor %}
	<script type="text/javascript">
	function drawCharts() {
		{% for chart in Charts %}
			var data_{{chart.num}} = new google.visualization.DataTable();
					
			{% for value in chart.Rows[0].values %}
				{% if value.is_date %}
				data_{{chart.num}}.addColumn('date',"{{value.key}}");
				{% elseif value.is_number %}
				data_{{chart.num}}.addColumn('number',"{{value.key}}");
				{% else %}
				data_{{chart.num}}.addColumn('string',"{{value.key}}");
				{% endif %}
			{% endfor %}
		
			var rows = [
			{% for row in chart.Rows %}
				{% if not row.first %},{% endif %}
				[
				{% for value in row.values %}
					{% if not value.first %},{% endif %}
					{% if value.is_date %}
					new Date("{{value.value|raw}}")
					{% elseif value.is_number %}
					{{ value.value }}
					{% else %}
					"{{ value.value }}"
					{% endif %}
				{% endfor %}
				]
			{% endfor %}];
		
			data_{{chart.num}}.addRows(rows);

			var options_{{chart.num}} = {
				title: '{{chart.title}}',
				displayMode: 'markers',
				colorAxis: {colors: ['blue', 'red']},
				sizeAxis: {minValue: 1,  maxSize:  10},
				displayAnnotations: true
			};

			var chart_{{chart.num}} = new google.visualization.{{chart.type}}(document.getElementById('chart_div_{{chart.num}}'));
			chart_{{chart.num}}.draw(data_{{chart.num}}, options_{{chart.num}});
		{% endfor %}
	}
	drawCharts();
	</script>
{% endblock %}
