{% block evaluated_variables %}
    {% for var in vars %}
        {% if macros[var.key] and var.type == "date" %}
			<div>
				{{ var.display }}:
				{%  block evaluated_date_variable %}
					<strong>{{ macros[var.key]|date('Y-m-d H:i:s') }}</strong>
				{% endblock %}
			</div>
        {% elseif macros[var.key] and var.type == "daterange" %}
			<div>
				{{ var.display }}:
				{% block evaluated_daterange_variable %}
					<strong>{{ macros[var.key].start|date('Y-m-d H:i:s') }}</strong> - 
					<strong>{{ macros[var.key].end|date('Y-m-d H:i:s') }}</strong> 
				{% endblock %}
			</div>
        {% endif %}
    {% endfor %}
{% endblock %}

{% include "html/table.twig" %}
<p>Query took {{Time}} seconds</p>

{% block chart_area %}
	{% if has_charts %}
		<iframe src="{{base}}/report/chart/?{{report_querystring}}" id='chart_container' class="auto-height" scrolling="no" style='width:100%;' frameborder="0"></iframe>
		<script>
		$(function() {
		  $('#chart_container').iframeAutoHeight();
		});
		</script>
	{% endif %}
{% endblock %}

{% block show_query %}
	{% if Query_Formatted %}
		<button type="button" class='show_query btn btn-link' data-toggle="collapse" data-target="#query_holder">show query</button>
		<div id='query_holder' class='collapse'>
			{{Query_Formatted|raw}}
		</div>
		<script>
		$(function() {
			$('.included_report').each(function() {
				var self = $(this);
				self.css('display','none').css('background-color','#f4f4f4').css('padding-left','10px');
				var link = $('<a>').attr('href','#').text('View Included Report').css('display','block').click(function() {
					self.toggle(200);
					return false;
				});
				
				self.before(link);
			});
		});
		</script>
	{% endif %}
{% endblock %}
