{% if item.is_dir %}
	{% if item.children %}
	<h2 id="report_{{item.Id}}" class="{% if not item.Title %}no_title collapsed{%else%}title expanded{% endif %}">
		<a name="report_{{item.Id}}"></a>
		{% if item.Title %}{{item.Title}}{% else %}{{item.Name}}{% endif %}
	</h2>
	<div class='report_list'>
		{% for item in item.children %}
			{% include "html/report_list_item.twig" %}
		{% endfor %}
	</div>
	<div style='clear:left;'></div>
	{% endif %}
{% elseif not item.ignore %}
	<div class='report'>
		<a href='{{item.url}}' id='report_{{item.Id}}'>{{item.Name}}</a>
		{% if item.Variables %}
			<img alt='Configurable' title='Configurable' src='{{base}}/public/images/ui-slider-vertical-050.png' />
		{% endif %}
		{% if item.Charts %}
			<img alt='Contains graphs/charts' title='Contains graphs/charts' src='{{base}}/public/images/chart.png' />
		{% endif %}
		{% if item.stop %}
			<img alt='Warning!' title='Warning!' src='{{base}}/public/images/prohibition.png' />
		{% endif %}
		{% if item.Caution %}
			<img alt='Contains graphs/charts' title='Contains graphs/charts' src='{{base}}/public/images/chart.png' />
		{% endif %}
		{% if item.Detail %}
			<img alt='Contains drill down links' title='Contains drill down links' src='{{base}}/public/images/drill.png' />
		{% endif %}
		{% if item.Created and item.Created > date("-2 weeks")|date('U') %}
			<img alt='Created on {{item.Created|date('Y-m-d')}}' title='Created on {{item.Created|date('Y-m-d')}}' src='{{base}}/public/images/new_icon.gif' />
		{% endif %}
	</div>
{% endif %}
