{% if not nodata %}
{% for dataset in DataSets %}
    {% if dataset.title %}<h3>{{dataset.title}}</h3>
    {% endif %}
	<table{% if not inline_email %} id='result_table_{{loop.index}}' class='result_table table table-bordered table-striped'{% else %} border="1" cellspacing="0"{% endif %}>
		{% if dataset.vertical %}
		<thead>
			<tr class='header'>
				{% for value in dataset.vertical[0].values %}
				<th class="{{ value.class }}">
					{% if loop.first %}Key{% else %}Value {{ loop.index -1 }}{% endif %}
				</th>
				{% endfor %}
			</tr>
		</thead>
		{% if dataset.footer %}
		<tfoot>
			{% for row in dataset.footer %}
				<tr>
					{% for value in row.values %}
						<td>{{ value.getValue(true)|raw }}</td>
					{% endfor %}
				</tr>
			{% endfor %}
		</tfoot>
		{% endif %}
		<tbody>
			{% for row in dataset.vertical %}
			<tr>
				{% for value in row.values %}
				{% if value.is_header is defined and value.is_header %}{% set tag = 'th' %}{% else %}{% set tag = 'td' %}{% endif %}
				<{{ tag }} class="{{ value.class }}">
                    {{ value.getValue(true)|raw }}
				</{{ tag }}>
				{% endfor %}
			</tr>
			{% endfor %}
		</tbody>
		{% else %}
		<thead>
			<tr class='header'>
			{% if dataset.selectable and not inline_email %}
				<th> </th>
			{% endif %}
			{% for value in dataset.rows[0].values %}
				<th class="{{value.class}}">{{value.key}}</th>
			{% endfor %}
			</tr>
		</thead>
		{% if dataset.footer %}
		<tfoot>
			{% for row in dataset.footer %}
				<tr>
					{% if dataset.selectable and not inline_email %}
						<td> </td>
					{% endif %}
					{% for value in row.values %}
						<td>{{ value.getValue(true)|raw }}</td>
					{% endfor %}
				</tr>
			{% endfor %}
		</tfoot>
		{% endif %}
		<tbody>
			{% for row in dataset.rows %}
			<tr>
				{% if dataset.selectable and not inline_email %}
					<td style='padding: 0;'>
						<div style='width:40px;'>
							<input type='checkbox' class='selectable' style=' vertical-align:middle;' />
							{% if not loop.last %}
							<a href='#' class='filldown' title='Fill Down - copy this value to all rows below this' style='text-decoration:none;'>&darr;</a>
							{% endif %}
						</div>
					</td>
				{% endif %}
                {% for value in row.values %}
                <td class="{{value.class}}{% if dataset.selectable and value.key == dataset.selectable %} selectable{% endif %}">
                    {{ value.getValue(true)|raw }}
                </td>
                {% endfor %}
			</tr>
			{% endfor %}
		</tbody>
		{% endif %}
	</table>
{% endfor %}
{% endif %}
