{% if not nodata %}
	<table id='result_table'>
		{% if vertical %}
		<thead>
			<tr class='header'>
				{% for value in VerticalRows[0].values %}
				<th class="{{ value.class }}">
					{% if loop.first %}Key{% else %}Value {{ loop.index -1 }}{% endif %}
				</th>
				{% endfor %}
			</tr>
		</thead>
		<tbody>
			{% for row in VerticalRows %}
			<tr>
				{% for value in row.values %}
				{% if value.is_header is defined and value.is_header %}{% set tag = 'th' %}{% else %}{% set tag = 'td' %}{% endif %}
				<{{ tag }} class="{{ value.class }}">
					{{ value.getValue(true)|raw }}
				</{{ tag }}>
				{% endfor %}
			</tr>
			{% endfor %}
		</tbody>
		{% else %}
		<thead>
			<tr class='header'>
			{% for value in Rows[0].values %}
				<th class="{{value.class}}">{{value.key}}</th>
			{% endfor %}
			</tr>
		</thead>
		<tbody>
			{% for row in Rows %}
			<tr>
				{% for value in row.values %}
				<td class="{{value.class}}">
					{% if value.getValue() %}
						{{ value.getValue(true)|raw }}
					{% else %}
					&nbsp;
					{% endif %}
				{% endfor %}
			</tr>
			{% endfor %}
		</tbody>
		{% endif %}
	</table>

	{% if not nodata %}
	<script type='text/javascript'>
	$('#result_table').dataTable({
		bPaginate: false,
		aaSorting: []
	});
	</script>
	{% endif %}
	<div style='clear:both;'></div>
{% endif %}
