{% if not nodata %}
	<table{% if not inline_email %} id='result_table' class='table table-bordered table-striped'{% else %} border="1" cellspacing="0"{% endif %}>
		{% if vertical %}
		<thead>
			<tr class='header'>
				{% for value in VerticalRows[0].values %}
				<th class="{{ value.class }}">
					{% if loop.first %}Key{% else %}Value {{ loop.index -1 }}{% endif %}
				</th>
				{% endfor %}
			</tr>
		</thead>
		{% if FooterRows %}
		<tfoot>
			{% for row in FooterRows %}
				<tr>
					{% for value in row.values %}
						<td>{{ value.getValue(true)|raw }}</td>
					{% endfor %}
				</tr>
			{% endfor %}
		</tfoot>
		{% endif %}
		<tbody>
			{% for row in VerticalRows %}
			<tr>
				{% for value in row.values %}
				{% if value.is_header is defined and value.is_header %}{% set tag = 'th' %}{% else %}{% set tag = 'td' %}{% endif %}
				<{{ tag }} class="{{ value.class }}">
                    {{ value.getValue(true)|raw }}
				</{{ tag }}>
				{% endfor %}
			</tr>
			{% endfor %}
		</tbody>
		{% else %}
		<thead>
			<tr class='header'>
			{% if selectable and not inline_email %}
				<th> </th>
			{% endif %}
			{% for value in Rows[0].values %}
				<th class="{{value.class}}">{{value.key}}</th>
			{% endfor %}
			</tr>
		</thead>
		{% if FooterRows %}
		<tfoot>
			{% for row in FooterRows %}
				<tr>
					{% for value in row.values %}
						<td>{{ value.getValue(true)|raw }}</td>
					{% endfor %}
				</tr>
			{% endfor %}
		</tfoot>
		{% endif %}
		<tbody>
			{% for row in Rows %}
			<tr>
				{% if selectable and not inline_email %}
					<td style='padding: 0;'>
						<div style='width:40px;'>
							<input type='checkbox' class='selectable' style=' vertical-align:middle;' />
							{% if not loop.last %}
							<a href='#' class='filldown' title='Fill Down - copy this value to all rows below this' style='text-decoration:none;'>&darr;</a>
							{% endif %}
						</div>
					</td>
				{% endif %}
                {% for value in row.values %}
                <td class="{{value.class}}{% if selectable and value.key == selectable %} selectable{% endif %}">
                    {{ value.getValue(true)|raw }}
                </td>
                {% endfor %}
			</tr>
			{% endfor %}
		</tbody>
		{% endif %}
	</table>
{% endif %}
