<form class="form-horizontal well" method="get" id="variable_form">
	<input type='hidden' name='report' value='{{report}}' />
	<input type='hidden' name='environment' value='{{Environment}}' />

	<fieldset>
		<legend>{% block variable_form_title %}Configure Report{% endblock %}</legend>
		
		{% for var in vars %}
			{% block variable_form_row %}
				<div class='control-group'>
					{% block variable_form_row_label %}
					<label for='var_{{var.key}}' class='control-label'>{{var.display}}</label>
					{% endblock %}
					<div class='controls'>
						{% block variable_form_row_modifier_input %}
							{% if var.modifier_options %}
								<select name='macros[{{var.key}}_modifier]' id='var_{{var.key}}_modifier' class='input'>
								{% for option in var.modifier_options %}
									<option value="{{option.value}}" {% if option.selected %}selected="selected"{% endif %}>{{option.display}}</option>
								{% endfor %}
								</select>
							{% endif %}
						{% endblock %}
						{% block variable_form_row_input %}
							{% if var.is_select %}
								{% if var.is_multiselect %}
									<select name='macros[{{var.key}}][]' id='var_{{var.key}}' multiple=true size={{var.choices}}>
								{% else %}
									<select name='macros[{{var.key}}]' id='var_{{var.key}}'>
								{% endif %}
								{% for option in var.options %}
									<option value="{{option.value}}" {% if option.selected %}selected="selected"{% endif %}>{{option.display}}</option>
								{% endfor %}
								</select>
							{% else %}
								{% if var.is_textarea %}
									<textarea type='text' name='macros[{{var.key}}]' id='var_{{var.key}}' style='vertical-align:top; width: 500px; height: 80px;'>{{var.value|join("\n")}}</textarea>
								{% else %}
									<input type='text' name='macros[{{var.key}}]' id="macros_{{ var.key }}" value='{{var.value}}' id='var_{{var.key}}'/>
								{% endif %}
							{% endif %}
						{% endblock %}
						{% block variable_form_row_description %}
							{% if var.description %}
								<span class='help-inline'>{{ var.description|raw }}</span>
							{% endif %}
						{% endblock %}
					</div>
				</div>
			{% endblock %}
		{% endfor %}
	</fieldset>	
	<button type="submit" class="btn btn-primary">Run Report</button>
</form>
