<form method='get' id='variable_form'>
	{% block variable_form_title %}
	<h2>Configure Report</h2>
	{% endblock %}
	
	<input type='hidden' name='report' value='{{report}}' />
	<input type='hidden' name='environment' value='{{environment}}' />
	
	{% for var in vars %}
		{% block variable_form_row %}
		<div class='input-row'>
			{% block variable_form_row_label %}
				<label for='var_{{var.key}}'>{{var.display}}</label>
			{% endblock %}
			{% block variable_form_row_input %}
				{% if var.is_select %}
					{% if var.is_multiselect %}
						<select name='macros[{{var.key}}][]' id='var_{{var.key}}' class='input' multiple=true size={{var.choices}}>
					{% else %}
						<select name='macros[{{var.key}}]' id='var_{{var.key}}' class='input'>
					{% endif %}
					{% for option in var.options %}
						<option value="{{option.value}}" {% if option.selected %}selected="selected"{% endif %}>{{option.display}}</option>
					{% endfor %}
					</select>
				{% else %}
					{% if var.is_textarea %}
						<textarea type='text' name='macros[{{var.key}}' id='var_{{var.key}}' class='input'>{{var.value}}</textarea>
					{% else %}
						<input type='text' name='macros[{{var.key}}]' value='{{var.value}}' id='var_{{var.key}}'  class='input'/>	
					{% endif %}
				{% endif %}
			{% endblock %}
			
			{% if description %}
				{% block variable_form_description %}
						<span>{{ description|raw }}</span>
				{% endblock %}
			{% endif %}
		</div>
		{% endblock %}
	{% endfor %}
	
	{% block variable_form_submit %}
	<input type='submit' value='Run Report' class='submit' />
	{% endblock %}
</form>
